//CODE STYLES

body {
  font-family: 'PT Serif', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $helvetica-neue;
}

h2{
	a{
		padding-top:70px;
		margin-top: -70px;
	}
}

.admonition-title{
  font-weight: bold;
}

.note {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 1px;
  margin-top: 10px;
}

.tip , .hint{
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 1px;
  margin-top: 10px;
}

.seealso{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 1px;
  margin-top: 10px;
}

.warning{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 10px;
  margin-bottom: 10px;
  padding-bottom: 1px;
  margin-top: 10px;
}

code{
	color: #df3f3f;
  padding: 0px;
	background-color: transparent;
	transition: .5s;
}

a{
  code {
    color: #249dd8;
    transition: .5s;
  }
}

#api-content{
	width: 100%;
	max-width: 800px;
	line-height: 1.8em;
	ul{
		list-style: none;
		li:before {
      content: '•';
      font-size: 17px;
      position: relative;
      left: -20px;
      top: 1px;
		}
		li{
      p{
        display: inline;
      }
		}
	}

	.highlight-java {
		width: 100%;
		max-width: 800px;
		overflow: scroll;
	}

	.highlight {
		width: 100%;
		max-width: 800px;
		background: #edf0f3;
	}
}

// GENERAL STYLES

dt{
	padding-top: 70px;
	margin-top: -70px;
}

body {
	margin-top: 61px;
	p {
		font-family: 'PT Serif', serif;
		font-size: 16px;
	}
}

img {
	width: 100%;
}

a:hover{
	text-decoration: none !important;
}

.main {
	h1, h2, h3, h4, h5 {
		a {
			font-family: $helvetica-neue-light;
			text-transform: uppercase;
		}
	}
}

pre{
	width: 100%;
	border: 0px;
}

.highlight{
	width: 100%;
	max-width: 800px;
}

.headerlink{
	display: none;
}

.main {
	background-color: #fff;
}


// TABLE STYLES

table{
	width: 100%;
	dt{
		padding-top: 70px;
		margin-top: -70px;
	}
}

// NAV STYLES

#topnav {
	background-color: #2d2d2d;
	font-family: $helvetica-neue;
	border-color: #2d2d2d !important;
	.navbar-brand{
    padding: 0px;
    position: relative;
    top: 4px;
    left: 13px;
    width: 200px;
    img{
      max-width: 180px;
    }
		@include phone {
      top: 7px;
		}
	}
	.navbar-collapse{
		border-color: gray;
	}
	.navbar-header{
		.navbar-toggle{
			position: relative;
			float: right;
			margin-right: 15px;
			color: white;
			padding: 9px;
			padding-left: 16px;
			padding-right: 16px;
			margin-top: 8px;
			margin-bottom: 8px;
			background-color: transparent;
			background-image: none;
			border: 1px solid gray;
			border-radius: 4px;
			font-size: 20px;
			.fa{
				position: relative;
  			top: 0px;
			}
		}
	}
	.navbar-nav {
		margin-right: 0;
		@include phone {
			margin: 0px;
		}
		li {
			font-size: 15px;
      letter-spacing: 3px;
			padding: 4px;
			@include phone {
				padding: 0px;
				:hover{
					color: black !important;
					background: whitesmoke;
				}
			}
			a {
				color: #fff;
				text-transform: uppercase;
        transition: 1s;
				top: 1px;
				@include phone {
					text-align:center;
					padding: 20px;
				}
			}
			.cloud{
				color:#259ed9;
			}
			.air{
				color: white;
			}
			.ground{
				color: #5FBE8C;
			}
      a:hover{
        opacity: .7;
      }
			&.get-started {
				background: #259dd8;
				@include phone {
					margin-bottom: 8px;
				}
				a {
          color: white;
          text-decoration: none;
          transition: 1s;
					position: relative;
				}
        a:hover{
          opacity: .7;
        }
			}
		}
	}
}

// SIDEBAR STYLES
.col-sidebar {
	font-family: $helvetica-neue;
	padding: 0px !important;
	line-height: 1.8em;
	margin-top: -2px;
	background: #333333;
	#gray-sidebar{
		background: #333333;
		position: relative;
		padding: 0px;
	}
	a{
		color:gray;
		padding-bottom: 6px;
		padding-left: 10px;
		font-size: 17px;
	}
	#language-select{
		background: #259dd8;
	  color: white;
		cursor: pointer;
	  padding: 20px;
		padding-bottom: 18px;
		font-family: $helvetica-neue-light;
	  font-size: 20px;
	  text-transform: uppercase;
		.fa{
			position: relative;
			left: -20px;
		}
	}
	#language-list{
		margin: 0px;
		width: 128px;
		height: 128px;
		width:100%;
		display:none;
		position: relative;
		height: 130px;
		.air {
			color: gray !important;
		}
		.ground{
			background-color: #5FBE8C;
			color: white;
		}
		.cloud{
			background-color: #259ed9;
			color: white;
		}
		.air{

		}
		div{
			font-size: 20px;
			padding: 13px;
			padding-bottom: 9px;
			padding-top: 16px;
			transition: .5s;
			:hover{
				opacity: .6;
			}
		}
	}
	.hidden{
		display: none;
	}
	.show{
		display: visible !important;
	}
	ul.current{
		li.current{
			a{
				font-size: 17px;
				background: white;
				display:block;
				font-size: 14px;
				padding-top: 6px;
				padding-bottom: 9px;
				font-weight: bold;
				padding-bottom: 16px;
				color: #404040;
				padding-left: 10px;
				padding-bottom: 7px;
			}
			ul{
				li{
					a{
						font-size: 14px;
						background: #F0EEEE;
						font-weight: 400;
						color:#b3b3b3;
						padding-bottom: 8px;
						padding-left: 20px;
					}
					a.current{
						background: #c9c9c9;
						font-weight: bold;
						color: #404040;
					}
				}
			}
			ul.current{
				display: block !important;
			}
		}
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			& > ul {
				margin-bottom: 15px;
				li {
					a {
						color: #a7a9ab;
						padding-left: 30px;
						display: none;
					}
				}
			}
		}
	}
}

#sidebar-search {
	width: 100%;
	background-color: #269fd4;
	margin-bottom: 19px;
	#rtd-search-form {
		.input-group {
			width: 100%;
			padding: 13px;
			background-color: #269fd4;
			.input-group-addon {
				border: 0;
				border-radius: 0;
				background-color: #fff;
			}
			.form-control {
				border: 0;
				box-shadow: none !important;
				border-radius: 0px;
				height: 46px;
			}
		}
	}
}

// FOOTER STYLES
#footer {
	margin-top: 25px;
	padding: 25px 0;
	font-family: 'PT Serif', serif;
	.footer-buttons {
		padding: 5px 0;
		@include clearfix();
	}
}
