body {
	margin-top: 61px;
}
img {
	width: 100%;
}

h2{
	padding-top: 70px;
}
.highlight-java{
	width: 100%;
	max-width: 800px;
	overflow: auto;
}

pre{
	width: 100%;
}
table{
	width: 100%;
}
.highlight{
	width: 100%;
	max-width: 800px;
}
.headerlink{
	display: none;
}

a:hover{
	text-decoration: none !important;
}

.main {
	background-color: #fff;
}

.navbar-default{
	border-color: #2d2d2d !important;
}

.rotate-arrow{
  transform: rotate(180deg) !important;
}

#arrow{
  transition: .5s;
}

.col-sidebar {
	padding: 0px !important;
	line-height: 1.8em;
	#language-select{
		background: #259dd8;
	  color: white;
		cursor: pointer;
	  padding: 20px;
		padding-bottom: 18px;
		font-family: $helvetica-neue-light;
	  font-size: 20px;
	  text-transform: uppercase;
		.fa{
			position: relative;
			left: -20px;
		}
	}
	#language-list{
		margin: 0px;
		width: 128px;
		height: 128px;
		width:100%;
		display:none;
		position: relative;
		height: 130px;
		.air {
			color: gray !important;
		}
		.ground{
			background-color: #5FBE8C;
			color: white;
		}
		.cloud{
			background-color: #259ed9;
			color: white;
		}
		.air{

		}
		div{
			font-size: 20px;
			padding: 13px;
			padding-bottom: 9px;
			padding-top: 16px;
			transition: .5s;
			:hover{
				opacity: .6;
			}
		}
	}
	.hidden{
		display: none;
	}
	.show{
		display: visible !important;
	}
	ul {
		list-style: none;
		padding: 0;
		li {
			a {
			}
			&.toctree-l1 {
				:hover{
					text-decoration: none;
				}
				& > a:first-child {
					font-family: $helvetica-neue-light;
					font-size: 20px;
					text-transform: uppercase;
				}
			}
			& > ul {
				margin-bottom: 15px;
				li {
					a {
						color: #a7a9ab;
					}
				}
			}
		}
	}
}

#sidebar-search {
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;
	#rtd-search-form {
		.input-group {
			width: 100%;
			padding: 13px;
			.input-group-addon {
				border: 0;
				background-color: #fff;
			}
			.form-control {
				border: 0;
				box-shadow: none !important;
			}
		}
	}
}

#topnav {
	background-color: #2d2d2d;
	font-family: $helvetica-neue;
	.navbar-brand{
		padding: 0px;
		position: relative;
		top: 20px;
		left: -40px;
		@include phone {
			top: 22px;
		}
	}
	.navbar-collapse{
		border-color: gray;
	}
	.navbar-header{
		.navbar-toggle{
			position: relative;
			float: right;
			margin-right: 15px;
			color: white;
			padding: 9px;
			padding-left: 16px;
			padding-right: 16px;
			margin-top: 8px;
			margin-bottom: 8px;
			background-color: transparent;
			background-image: none;
			border: 1px solid gray;
			border-radius: 4px;
			font-size: 20px;
			.fa{
				position: relative;
  			top: 0px;
			}
		}
	}
	.navbar-nav {
		margin-right: 0;
		@include phone {
			margin: 0px;
		}
		li {
			font-size: 15px;
      letter-spacing: 3px;
			padding: 4px;
			@include phone {
				padding: 0px;
				:hover{
					color: black !important;
					background: whitesmoke;
				}
			}
			a {
				color: #fff;
				text-transform: uppercase;
        transition: 1s;
				top: 1px;
				@include phone {
					text-align:center;
					padding: 20px;
				}
			}
			.cloud{
				color:#259ed9;
			}
			.air{
				color: white;
			}
			.ground{
				color: #5FBE8C;
			}
      a:hover{
        opacity: .7;
      }
			&.get-started {
				background: #259dd8;
				@include phone {
					margin-bottom: 8px;
				}
				a {
          color: white;
          text-decoration: none;
          transition: 1s;
					position: relative;
				}
        a:hover{
          opacity: .7;
        }
			}
		}
	}
}

.main {
	h1, h2, h3, h4, h5 {
		a {
			font-family: $helvetica-neue-light;
			text-transform: uppercase;
		}
	}
}

#footer {
	margin-top: 25px;
	padding: 25px 0;
	.footer-buttons {
		padding: 5px 0;
		@include clearfix();
	}
}

#api-content{
	width: 100%;
	max-width: 800px;
	line-height: 1.8em;
	.highlight-java {
		width: 100%;
		max-width: 800px;
		overflow: scroll;
	}

	.highlight {
		width: 100%;
		max-width: 800px;
	}
}
