body {
	margin-top: 72px;
}

.main {
	background-color: #f5f5f5;
}

#sidebar-search {
	margin: -20px -20px 20px;
	#rtd-search-form {
		.input-group {
			.input-group-addon {
				border: none;
				background-color: #fff;
			}
			.form-control {
				border: none;
			}
		}
	}
}

#topnav {
	background-color: #2d2d2d;
	font-family: $copenhagen-regular;
  padding: 10px;
	.navbar-nav {
		li {
			font-size: 15px;
      letter-spacing: 3px;
			a {
				color: #fff;
				text-transform: uppercase;
        transition: 1s;
			}
      a:hover{
        color: #b6b6b6;
      }
			&.get-started {
				a {
          color: white;
          text-decoration: none;
          border: 1px solid white;
          transition: 1s;
				}
        a:hover{
          background: #259dd8;
          border: 1px solid #259dd8;
        }
			}
		}
	}
}
