/*
 * Mixins
 */

$tablet-width: 768px;
$tablet-portrait-width: 992px;
$desktop-width: 1200px;

@mixin phone {
	@media (max-width: #{$tablet-width - 1}) {
		@content;
	}
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: #{$tablet-portrait-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.col-sidebar {
  display: none;
}
@media (min-width: 768px) {
  .col-sidebar {
    position: fixed;
    top: 72px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Fonts
 */

$helvetica: Helvetica Neue, Helvetica, sans-serif;
$copenhagen-regular: "copenhagen-regular", Helvetica, sans-serif;
$copenhagen-bold: "copenhagen-bold", Helvetica, sans-serif;
$copenhagen-light: "copenhagen-light", Helvetica, sans-serif;

@include font-face("copenhagen-regular", font-files(
	'../fonts/copenhagen_regular-webfont.svg#copenhagenregular',
  '../fonts/copenhagen_regular-webfont.ttf',
  '../fonts/copenhagen_regular-webfont.woff',
  '../fonts/copenhagen_regular-webfont.eot',
  '../fonts/copenhagen_regular-webfont.woff2'
));

@include font-face("copenhagen-bold", font-files(
  '../fonts/copenhagen_bold-webfont.svg#copenhagenbold',
  '../fonts/copenhagen_bold-webfont.ttf',
  '../fonts/copenhagen_bold-webfont.woff',
  '../fonts/copenhagen_bold-webfont.eot',
  '../fonts/copenhagen_bold-webfont.woff2'
), 'bold');

@include font-face("copenhagen-light", font-files(
  '../fonts/copenhagen_light-webfont.svg#copenhagenlight',
  '../fonts/copenhagen_light-webfont.ttf',
  '../fonts/copenhagen_light-webfont.woff',
  '../fonts/copenhagen_light-webfont.eot',
  '../fonts/copenhagen_light-webfont.woff2'
), 'lighter');

